* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2 linear;
}

/* body of CSS*/
html, 
body {
    height: 100%;

}
/* Font families and background colors*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccbaff; }

/* Header of all the webpages */
header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #89cff0;
    padding: 10px;
}

/* Footer of all the webpages */
footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #89cff0;
    padding: 10px;
}

/* Navigation bar being clicked */
nav a:visited,
nav a:link {
    color: #fff;
    text-decoration: none;
}

/* Unordered list in the navigation section of the webpage*/
nav > ul {
    display: inline;
    padding: 0
}

/* Styles of the list*/
nav > ul > li {
    display:inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}


main {
    display: block;
    padding: 3em;
    min-height: 85%;
}

p {
    margin: 0.5em 0 0.5em 0;
}

aside, article {
    padding: 2em;
}

aside {
    text-align: center;
}

article {
    width: 75%;
}

/* CSS components of the table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Table properties */
  td, th {
    border: 1px solid lightblue;
    text-align: left;
    padding: 8px;
  }


/* Section page for the webpage */
section{
    padding:2rem;
    margin: 0 auto;
    max-width: 500px;
    float: initial;

}

/* Add to cart characteristics*/
.btn{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    color:#fff;
    background-color: lightblue;
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;

}

.btn:hover{
    background-color:black;
}


/* The food*/
#menu {
    float:left;
    display: grid;
    align-items: flex-start;
    padding: 2px;
    border: 10px;

}

/* the box container that holds the food*/
#menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

#menu .box-container .box{
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
    box-shadow: #fff;
    position: relative;
}

#menu .box-container .box img{
    width: 100%;
    margin-bottom: 1rem;
}

/* price*/
#menu .box-container .box .price{
    background-color: lightblue;
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
    color: white;
    position: absolute;
    top: 1rem; left: 1rem;
}

/* currency of said price*/
#menu .box-container .box .price span{
    font-size: 2.5rem;
}

#menu .box-container .box .name{
    font-size: 2rem;
    color: black;
    margin: 0.5rem;
}

/* Quantity of sides and drinks */
#menu .box-container .box .qty{
    width: 8rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    color: black
}

.order form{
    background-color: #fff;
    padding:2rem;
    border-radius: 0.5rem;

}

.order form .flex{
justify-content: space-between;
gap: 1.5rem;
flex-wrap: wrap;
display: flex;
}

.order form .flex .inputBox{
    font-size: 1.5rem;

}

.order form .flex .inputBox .box{
    background-color: #f5f5f5;
    padding: 1rem;
    font-size: 1.5rem;
    color:black;
    border-radius: .5rem;
}





 @media (max-width:768px){
    
    #menu-btn{
        display: inline-block;
    }
 }
 
 
 @media only screen and (min-width: 768px) {

    main {
        display: flex;
    }

    aside {
        margin-left: 2%;
    }

    .columns-desktop {
        display: flex;
    }
}